## Simpler Returns - Part I

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

In [2]:
from pandas_datareader import data as wb
MSFT = wb.DataReader('MSFT',data_source='yahoo',start='2000-1-1')

C:\Users\wissa\anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [3]:
MSFT.head()

               High       Low      Open     Close      Volume  Adj Close
Date
2000-01-03  59.3125  56.00000  58.68750  58.28125  53228400.0  37.289700
2000-01-04  58.5625  56.12500  56.78125  56.31250  54119000.0  36.030037
2000-01-05  58.1875  54.68750  55.56250  56.90625  64059600.0  36.409924
2000-01-06  56.9375  54.18750  56.09375  55.00000  54976600.0  35.190277
2000-01-07  56.1250  53.65625  54.31250  55.71875  62013600.0  35.650139

In [4]:
MSFT.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-05-18,186.199997,183.960007,185.750000,184.910004,35306600.0,184.396439
2020-05-19,186.600006,183.490005,185.029999,183.630005,26799100.0,183.119995
2020-05-20,185.850006,183.940002,184.809998,185.660004,31261300.0,185.660004
2020-05-21,186.669998,183.289993,185.399994,183.429993,29119500.0,183.429993
2020-05-22,184.460007,182.539993,183.190002,183.509995,20809700.0,183.509995

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [5]:
MSFT['simple return'] = (MSFT['Adj Close']/MSFT['Adj Close'].shift(1))-1

In [6]:
MSFT['simple return']

Date
2000-01-03         NaN
2000-01-04   -0.033780
2000-01-05    0.010544
2000-01-06   -0.033498
2000-01-07    0.013068
                ...
2020-05-18    0.009554
2020-05-19   -0.006922
2020-05-20    0.013871
2020-05-21   -0.012011
2020-05-22    0.000436
Name: simple return, Length: 5130, dtype: float64