## Calculating Portfolio Risk

Calculate the risk of an equally weighted portfolio composed of Microsoft and Apple. The data can be obtained from Yahoo Finance for the period 1st of January 2007 until today.

*Hint: The code we went through in the lecture is what you need here. You will need to import the data first. The previous lessons could be a good reference point for that! :) *

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

C:\Users\wissa\anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
tickers = ['MSFT','AAPL']

data = pd.DataFrame()

for t in tickers:
    data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']
sec_returns = np.log(data/data.shift(1))
sec_returns.head()

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007147
2007-01-08  0.009736  0.004926
2007-01-09  0.001002  0.079800

## MSFT

In [3]:
sec_returns['MSFT'].mean()

0.0006277804140101275

In [4]:
sec_returns['MSFT'].mean()*250

0.15694510350253188

In [5]:
sec_returns['MSFT'].std()

0.0178663806300414

In [6]:
sec_returns['MSFT'].std()*250**0.5

0.28249228167222484

## Apple

In [7]:
sec_returns['AAPL'].mean()

0.0010167783191369062

In [8]:
sec_returns['AAPL'].mean()*250

0.25419457978422655

In [9]:
sec_returns['MSFT'].std()

0.0178663806300414

In [10]:
sec_returns['MSFT'].std()*250**0.5

0.28249228167222484

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

*****

Covariance matrix:

In [12]:
cov_matrix = sec_returns.cov()*250
cov_matrix

          MSFT      AAPL
MSFT  0.079802  0.048830
AAPL  0.048830  0.103825

***

Correlation matrix:

In [13]:
corr_matrix = sec_returns.corr()
corr_matrix

          MSFT      AAPL
MSFT  1.000000  0.536454
AAPL  0.536454  1.000000

## Calculating Portfolio Risk

Equal weigthing scheme:

In [16]:
weights = np.array([0.5,0.5])

Portfolio Variance:

In [17]:
portifolio_varr = np.dot(weights.T,np.dot(sec_returns.cov()*250,weights))
portifolio_varr

0.07032204321425035

Portfolio Volatility:

In [19]:
portifolio_vol = portifolio_varr**0.5

In [20]:
portifolio_vol

0.2651830371917675